
*{
	font-family: 'Chakra Petch', sans-serif;
}
.html{
	background-color: forestgreen;
}
.calculator {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	min-width: 400px;
	max-width: 400px;
	margin: 0 auto; /* Set left and right margins to auto */
	padding: 10px;
	background-color: grey;
	border-radius: 10px;
	box-shadow: 0 0 20px #000;
	font-size: 2em;
	
	text-align: center;
	color: black;
	position: absolute; /* Position the calculator */
	top: 50%; /* Position the top edge of the calculator at the middle of the screen */
	left: 50%; /* Position the left edge of the calculator at the middle of the screen */
	transform: translate(-50%, -50%); /* Translate the calculator 50% from the left and top edges of its containing block */
	padding-top: 30px;
	border-style:solid;
	border-color: black;
	
	}
  
  .img{
	max-width: 290%;
	padding-left: 60px;
	padding-right: 40px;
	padding-bottom: 10px;
	
  }
  
  .display {
	grid-column: 1 / span 4;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	font-size: 2em;
	text-align: right;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	
  }
  
  .button {
	background-color: #fff;
	color: #333;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 1em;
	cursor: pointer;
	transition: background-color 0.2s;
    border-style: solid;
	border-width: 3px;
  }
  
  #operators {
	background-color: orange;
	color: #333;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 1em;
	cursor: pointer;
	transition: background-color 0.2s;
	border-style: solid;
	border-width: 3px;
	
  }
  .button:hover {
	background-color: #555;
	color: #fff;
  }
  #operators:hover {
	background-color: #555;
	color: #fff;
  }


  #equals {
	background-color: lightslategray;
  }
  .nombre {
	animation-name: example;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	font-size: 3em;
	margin-top: 700px;
	
  }
  
  @keyframes example {
	from {
	  color: blue;
	  transform: rotateY(30deg);
	}
	to {
	  color: lightblue;
	  transform: rotateY(360deg);
	}
  }
  
  
  .casio {
	animation-name: example1;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	font-size: 3em;
	margin-left: 880px;
	margin-top: 100px;
	offset-position:unset;
  }
  
  @keyframes example1 {
	from {
	  color: blue;
	  transform: rotateY(30deg);
	  transform: rotateX(30deg);
	}
	to {
	  color: lightblue;
	  transform: rotateY(360deg);
	}
  }
  
